body {
    color: black ;
    font-family: 'Josefin Sans', sans-serif;
	font-size:21px;
    letter-spacing: 2px;
	color: black;
	font-weight:500;
    margin: 0;
    padding: 0;
}

#video {
    position: absolute;
    width: 99vw;
    height: 580px;
    max-height: 348px;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    transition: all 1.4s;
}

.video-first {
    position: absolute;
    width: 99vw;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    transition: all 1.4s;
}

.menu {
    position: absolute;
    background-color: white;
    top: 350px;
    display: inline-block;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    width: 98%;
    max-width: 100%;
}

#menuid {
    margin: 0;
    display: inline-block;
}

.menu button, .more button {
    color: black;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    padding: 15px 15px 15px 15px;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
	font-size:21px;
    font-weight:800;
    text-transform: uppercase;
    border: none;
}


.menu button:hover, .more button:hover {
    color: white;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    text-align: center;
    background-color: black;
    transition: all .3s;
    text-decoration: none;
}

.menu button:hover a, .more button:hover a{
    color: white;
}

.menu a, .more a {
    text-decoration: none;
    color: black;
}

.menu a:hover, .more a:hover  {
    text-decoration: none;
    color: white;
}

.more {
    display: none;
}

.top {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: hidden;
}

.top a {
    filter: grayscale(0%);
}

.top a:hover {
    filter: grayscale(100%);
    transition: all .4s;
}

.main {
    position: relative;
    top: 418px
}

.text {
    position: absolute;
    top: -20px;
    left: 55vw;
    max-width: 40vw;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 10px;
    background-color: white;
    max-width: 100%;
    margin-right: 10px;
    height: 100%;
    display: none;

    transition: all 1s;
}

.sticky-text {
    position: fixed;
    top: 50px;
}

#brand-container {
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    

    transition: all 0.4s;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    

    transition: all 0.4s;
}

.row img {
    margin-right: 4px;
    margin-top: 4px;
}

.img img {
    width: 30vw;
    height: 30vw;
    transition: all 0.4s
}

.unhovered img {
    width: 12vw;
    height: 12vw;
    
    transition: all 0.4s
}

.unhovered {
    transition: all 0.4s;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 12vw
}

.last {
    order: 3;
}

.text-not{
    display: none;
    transition: all 0.4s
}

#brand-identity {
    max-width: 100%;

    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

#posters img {
    width: 9vw;
    height: 9vw;
    object-fit: cover;
    overflow: hidden;
}

#posters img:hover{
    transform: scale(1.1);
    transition: all .2s;
    cursor: pointer;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #p11, #p12, #p13, #p14, #p15, #p16, #p17, #p18, #p19, #p20, #p21, #p22, #p23, #p24, #p25 {
    max-width: 9vw;
    max-height: 9vw;
    overflow: hidden;
}

.poster-img img{
    max-width: 47vw;
    max-height: 60vw;
    transition: all 0.4s
}

.poster-img{
    transition: all 0.4s
}

#poster-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 60px;
    margin-left: 2vw;
    margin-right: 2vw;
    transition: all 0.4s;
}


.poster-img{
    display: none;
}

.text-hover img{
    opacity: 100;
    transition: all .8s;
}

#cooperation {
    position: relative;
    text-align: center;
    top: 50vh;
    
}

#cooperation img {
    max-width: 15vw;
    padding-left: 30px;
    padding-right: 30px;
}

#cooperation img:hover {
    filter: opacity(50%);
    transition: 0,2s;
}

#cooperation h1{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}

#coding {
    display: flex;
    flex-wrap: wrap;
    width: 80%;

    margin-left: auto;
    margin-right: auto;

    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

#about-me img{
    max-width: 7vw;
    max-height: 7vw;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 22px;
    padding-bottom: 30px;
    filter: brightness(0);
}

#about-me img:hover{
    filter: brightness(1);
    transition: 0,3s;
}

#about-me{
    position: relative;
    top: 95vh;
}

#about-me table{
    margin-left: 36vw;
    margin-right: auto;
}

#about-me p{
    max-width: 43vw;
    text-align: left;
    margin-left: 38vw;
    margin-right: auto;
    opacity: 10;
    padding-top: 22px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#potpis{
    max-width: 25vw;
    max-height: 13vw;
    display: block; 
    margin-left: 38vw;
    margin-right: auto;
    width: 25vw;
    height: 7vw;
    object-fit: cover;
    overflow: hidden;
}

#potpis:hover{
    opacity: 0;
    transition: 0,3s;
}

#name-real {
    position: absolute;
    margin-left: 39vw;
    top: 1vh;
}

.real-name{
    display: none;
}

.about-me-hover{
    opacity: 100;
    transition: all .4s;
}

.text-hover{
    display: flex;
    flex-direction: column;
    transition: all 1s;
    cursor: pointer;
}

#portrait img{
    width: 21vw;
    transition: all .2s;
}

#portrait{
    position: relative;
    top: 12vh;
    margin-left: 10vw;
    margin-right: 70vw;
}

#portrait img:hover{
    transform: scale(1.1);
    transition: all .2s;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .menu {
        position: absolute;
        background-color: white;
        top: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: 500;
        padding: 10px 10px 10px 10px;
        width: 95%;
        max-width: 100%;
    }

    .more {
        display: inline-block;
        position: absolute;
        background-color: white;
        top: 150px;
        
    }

    

    #poster-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 60px;
        margin-left: 2vw;
        margin-right: 2vw;
        transition: all 0.4s;
    }

    #posters img {
        width: 17vw;
        height: 17vw;
        object-fit: cover;
        overflow: hidden;
    }
    
    #p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #p11, #p12, #p13, #p14, #p15, #p16, #p17, #p18, #p19, #p20, #p21, #p22, #p23, #p24, #p25 {
        max-width: 17vw;
        max-height: 17vw;
        overflow: hidden;
    }
    
    .poster-img img{
        max-width: 90vw;
        max-height: 150vw;
        transition: all 0.4s
    }

    .dropdown-hidden{
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 58vw;
    }


    body {
        color: black ;
        font-family: 'Josefin Sans', sans-serif;
        font-size:14px;
        letter-spacing: 2px;
        color: black;
        font-weight:500;
        margin: 0;
        padding: 0;
    }
    
    #video {
        position: absolute;
        width: 99vw;
        height: 300px;
        max-height: 150px;
        object-fit: cover;
        overflow: hidden;
        margin: 0;
        transition: all 1.4s;
    }
    
    .video-first {
        position: absolute;
        width: 99vw;
        object-fit: cover;
        overflow: hidden;
        margin: 0;
        transition: all 1.4s;
    }

    #cooperation {
        position: relative;
        text-align: center;
        top: 20vh;
    }

    #about-me{
        position: relative;
        top: 40vh;
    }
    
    #about-me table{
        margin-left: 2vw;
        margin-right: 2vw;
    }
    
    #about-me p{
        max-width: 90vw;
        text-align: left;
        margin-left: 2vw;
        margin-right: 2vw;
        opacity: 10;
        padding-top: 28px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #portrait{
        display: none;
    }

    #about-me img{
        max-width: 12vw;
        max-height: 12vw;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 22px;
        filter: brightness(0);
    }

    #name-real {
        position: absolute;
        justify-content: center;
        margin-left: 22vw;
        top: -1vw;
    }
    

    #potpis{
        max-width: 45vw;
        max-height: 12vw;
        display: flex; 
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 45vw;
        height: 27vw;
        object-fit: cover;
        overflow: hidden;
    }

    .sticky-text {
        position: fixed;
        top: 42vw;
    }

    .text {
        text-align: right;
        padding-top: 2px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        font-size: 11px;
    
        transition: all 1s;
    }

    .sticky.menu {
        position: fixed;
        top: 0;
        width: 95%;
    }

    .sticky.more {
        position: fixed;
        top: 0;
        width: 98%;
    }

    .sticky.more.more-drop {
        position: fixed;
        top: 0;
        width: 10%;
    }
}